<style>
    .card-header-l{
              //background: linear-gradient(60deg,#ec407a,#d81b60);
    }
</style>
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
    <div class="container">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">Login Page</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item active" onclick="{
                            return false;
                        }">
                    <a href="" class="nav-link" >
                        <i class="material-icons">person_add</i> Register
                    </a>
                </li>
                <li class="nav-item" onclick="{
                            loadPage('inc/login_page.html');
                            return false;
                        }">
                    <a href="login.html" class="nav-link">
                        <i class="material-icons">fingerprint</i> Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter" filter-color="black"
         style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 ml-auto mr-auto">
                    <form class="form" method="" action="#">
                        <div class="card card-login card-hidden">
                            <div class="card-header card-header-rose text-center" style="background: linear-gradient(60deg,#9c27b0,#9c27b0);">
                                <h4 class="card-title">Sign Up</h4>
                                <div class="social-line">
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body ">
                                <div id="success_div" style="display:none;color:white;background:green;padding:10px;border-radius:5px;width:100%;margin-left:10px;">
                                    Success message goes here.....
                                </div>
                                <div  id="error_div" style="display:none;color:white;background:red;padding:10px;border-radius:5px;width:100%;margin-left:10px;">
                                    Success message goes here.....
                                </div>
                                <span class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons"></i>
                                            </span>
                                        </div>
                                        <input type="text" id="email" class="form-control" placeholder="Email">
                                    </div>
                                </span>

                                <span class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons"></i>
                                            </span>
                                        </div>
                                        <input type="text" id="username" class="form-control" placeholder="Desired username">
                                    </div>
                                </span>
                                <span class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons"></i>
                                            </span>
                                        </div>
                                        <input type="password" id="password" class="form-control" placeholder="Password">
                                    </div>
                                </span>
                                 <span class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons"></i>
                                            </span>
                                        </div>
                                        <input type="password"  id="password1" class="form-control" placeholder="Confirm password">
                                    </div>
                                </span>
                            </div>
                            <div class="card-footer justify-content-center">
                                <a href="#pablo" class="btn btn-rose btn-link btn-lg"  onclick="{doSignup(); return false;}">Lets Go</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav class="float-left">
                    <ul>
                        <li>
                            <a href="https://www.creative-tim.com/">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="https://creative-tim.com/presentation">
                                About Us
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright float-right">
                    &copy; 2019, made with love in <b>Berlin</b> by
                    <a href="https://www.creative-tim.com/" target="_blank"><i>Intertempi</i></a>.
                </div>
            </div>
        </footer>
    </div>
</div><!--   Core JS Files   -->
